.Home-search-page {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 1em;
}

.Home-search-page form {
  margin: 1em;
  display: inline-block;
}

.Home-search-page input[type="text"] {
  width: 50em;
  display: inline-block;
  text-align: center;
}

.Home-search-results {
  display: inline-block;
  margin: 0 auto;
  min-width: 600px;
  max-width: 1200px;
}

.Home-search-results th {
  text-align: center;
}

.invalid-outcome {
  color: #ffaaaa;
}
